@font-face {
  font-family: "GoraFree";
  src: url("../../fonts/GoraFree-Regular.woff2") format("woff2"),
    url("../../fonts/GoraFree-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
