.intro-banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -5;
}

.intro-banner:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.52);
}

.intro__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: scale 1s;
}

.intro__logo {
  margin-bottom: 40px;
}

@keyframes scale {
  0% {
    opacity: 0;
  }

  20% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
  }
}

.intro__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f89513;
  padding: 17px 21px;
  transition: 0.2s background-color linear;
}

.intro__link:hover {
  background-color: #131415;
}
